<!--The content below is only a placeholder and can be replaced.-->
<app-header-component></app-header-component>

<div id="div1">
  <router-outlet name="outlet1"></router-outlet>
</div>

<div id="banner">
  <router-outlet name="outlet2"></router-outlet>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <router-outlet name="outlet4"></router-outlet>
    </div>
  </div>
</div>


<!--
<app-menu></app-menu>
<app-basic-chart></app-basic-chart>


  <app-headermd-component></app-headermd-component>

<app-banner-component></app-banner-component>

<app-table-component></app-table-component>
-->
