.servicios1 {
  text-align: center;
}

.servicios1 i {
  color: #2b9b38;
}
row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.servicios {
  padding-bottom: 5rem;
}
