<div class="container servicios"><br><br><br>
  <div class="servicios1">
      <h1>Funcionamiento del sistema</h1>
  </div>
  <hr><br>
  <div class="row servicios1">
      <div class="col-md-6"><i class="fa fa-tint fa-5x icono"></i><br><br>
          <h4>1. Los sensores captan el valor de humedad en el suelo</h4>
      </div>
      <div class="col-md-6"><i class="fa fa-cogs fa-5x icono"></i><br><br>
          <h4>2. Un microcontrolador se encarga de procesar los valores obtenidos por el sensor</h4>
      </div>
  </div><br><br>
  <div class="row servicios1">
      <div class="col-md-6"><i class="fa fa-wifi fa-5x icono"></i><br><br>
          <h4>3. Una vez procesados, son enviados inalámbricamente al receptor</h4>
      </div>
      <div class="col-md-6"><i class="fa fa-table fa-5x icono"></i><br><br>
          <h4>4. Las señales se concentran en un receptor</h4>
      </div>
  </div><br><br>
  <div class="row servicios1">
      <div class="col-md-6"><i class="fa fa-mobile fa-5x icono"></i><br><br>
          <h4>5. El usuario accede a los datos</h4>
      </div>
      <div class="col-md-6"><i class="fa fa-area-chart fa-5x icono"></i><br><br>
          <h4>6. Determinar la frecuencia y el volumen de riego</h4>
      </div>
  </div>
</div>
